/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; background: url(../img/map.jpg) repeat-x 50% 6px; }
body.b-inside { background-position: 50% -110px; }
body.b-inside1 { background-position: 50% -60px; }

.content_inside, .header .header__in, .footer .footer__in, .form__wrap, .about, .pop, .rec .rec__in, .region .region__in { max-width: 984px; margin: 0 auto; }
@media only screen and (max-width: 984px) { .content_inside, .header .header__in, .footer .footer__in, .form__wrap, .about, .pop, .rec .rec__in, .region .region__in { margin: 0 20px; } }

@media only screen and (max-width: 984px) { .is-mobilehidden { display: none; } }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 24%; }
@media only screen and (max-width: 984px) { .l .l-col1 { float: none; width: auto; } }
.l .l-col2 { float: right; width: 73%; }
@media only screen and (max-width: 984px) { .l .l-col2 { float: left; width: auto; } }
.l.l-equal { margin-bottom: 40px; }
.l.l-equal .l-col1 { width: 48.5%; }
@media only screen and (max-width: 984px) { .l.l-equal .l-col1 { width: auto; float: none; } }
.l.l-equal .l-col2 { width: 48.5%; }
@media only screen and (max-width: 984px) { .l.l-equal .l-col2 { width: auto; float: none; } }
.l.l-top { border-top: 1px solid #e5e5e5; padding-top: 20px; }

.header { background: url(../img/bg.png) repeat-x 50% 0; overflow: hidden; padding-top: 6px; }
@media only screen and (max-width: 984px) { .header { overflow: visible; } }
.header .header__in { height: 120px; position: relative; }
@media only screen and (max-width: 984px) { .header .header__in { height: 75px; } }
.header .header__left, .header .header__right { position: absolute; top: 57px; width: 1000px; left: -1010px; height: 2px; background: url(../img/dash.png) repeat-x 100% 0; }
@media only screen and (max-width: 984px) { .header .header__left, .header .header__right { display: none; } }
.header .header__right { left: auto; right: -1005px; background-position: 0 0; }
.header .social { position: absolute; top: 42px; right: 0; text-align: right; font-size: 0; }
@media only screen and (max-width: 984px) { .header .social { position: static; text-align: center; } }
.header .social .social__fb, .header .social .social__vk { display: inline-block; margin-left: 6px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12); }
.header .social .social__fb:hover, .header .social .social__vk:hover { position: relative; top: -2px; }
.header .social .social__fb { background: url('../img/icons-se375004312.png') 0 -758px no-repeat; width: 29px; height: 29px; }
@media only screen and (max-width: 984px) { .is-menu .header .social .social__fb { background-position: 0 -825px; } }
.header .social .social__vk { background: url('../img/icons-se375004312.png') 0 -680px no-repeat; width: 29px; height: 29px; }
@media only screen and (max-width: 984px) { .is-menu .header .social .social__vk { background-position: 0 -719px; } }
.header .header__logo { position: absolute; top: 37px; left: 0; background: url('../img/icons-se375004312.png') 0 0 no-repeat; width: 147px; height: 33px; font: 0/0 a; text-shadow: none; color: transparent; z-index: 30; }
@media only screen and (max-width: 984px) { .is-menu .header .header__logo { background: url('../img/icons-se375004312.png') 0 -43px no-repeat; width: 147px; height: 33px; } }
@media only screen and (max-width: 984px) { .header .header__logo { top: 20px; } }
.header .header__logo:before { position: absolute; left: 157px; top: 19px; background: url(../img/dash.png) repeat-x 0 0; width: 63px; height: 2px; content: " "; cursor: default; }
@media only screen and (max-width: 984px) { .header .header__logo:before { display: none; } }

.nav { font-size: 15px; list-style: none; font-weight: bold; text-transform: uppercase; }
@media only screen and (max-width: 984px) { .nav { margin-bottom: 30px; } }
.nav li { position: absolute; top: 34px; height: 46px; line-height: 46px; }
@media only screen and (max-width: 984px) { .nav li { position: static; } }
.nav li:before { position: absolute; top: 22px; height: 2px; content: " "; background: url(../img/dash.png) repeat-x 0 0; }
@media only screen and (max-width: 984px) { .nav li:before { display: none; } }
.nav a { color: black; text-decoration: none; display: block; padding-left: 60px; position: relative; height: 46px; line-height: 46px; }
@media only screen and (max-width: 984px) { .nav a { color: white; text-align: center; padding-left: 0; text-align: center; border-bottom: 1px solid #084b85; box-shadow: 0 1px 0 #246fae; } }
.nav a i { position: absolute; left: 0; top: 0; }
@media only screen and (max-width: 984px) { .nav a i { display: none; } }
.nav .nav__hotel { left: 223px; }
.nav .nav__hotel:before { left: 126px; width: 72px; }
.nav .nav__hotel i { background: url('../img/icons-se375004312.png') 0 -86px no-repeat; width: 53px; height: 61px; }
.nav .nav__avia { left: 427px; }
.nav .nav__avia:before { left: 179px; width: 17px; }
.nav .nav__avia i { background: url('../img/icons-se375004312.png') 0 -219px no-repeat; width: 50px; height: 51px; }
.nav .nav__auto { left: 627px; }
.nav .nav__auto:before { left: 175px; width: 115px; }
.nav .nav__auto i { background: url('../img/icons-se375004312.png') 0 -157px no-repeat; width: 53px; height: 52px; }

.menu { display: none; background: url('../img/icons-se375004312.png') 0 -466px no-repeat; width: 50px; height: 51px; position: absolute; top: 14px; right: 0; cursor: pointer; z-index: 40; }
@media only screen and (max-width: 984px) { .menu { display: block; } }
@media only screen and (max-width: 984px) { .is-menu .menu { background: url('../img/icons-se375004312.png') 0 -353px no-repeat; width: 50px; height: 50px; display: block; } }

.menu__dropdown { display: block; }
@media only screen and (max-width: 984px) { .menu__dropdown { display: none; } }
@media only screen and (max-width: 984px) { .is-menu .menu__dropdown { display: block; } }
@media only screen and (max-width: 984px) { .menu__dropdown { background: #0c5ea7; position: absolute; left: -20px; right: -20px; top: 0px; z-index: 20; padding-top: 83px; padding-bottom: 24px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35); } }

.footer { background: #35393d url(../img/bg.png) repeat-x 50% 100%; }
.footer .footer__in { *zoom: 1; padding-top: 18px; padding-bottom: 25px; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 640px) { .footer .footer__in { font-size: 0; } }
.footer .footer__text, .footer .footer__col { float: left; width: 228px; margin-right: 24px; }
@media only screen and (max-width: 984px) { .footer .footer__text, .footer .footer__col { width: 22%; margin-left: 2%; margin-right: 0; } }
@media only screen and (max-width: 984px) { .footer .footer__text { margin-left: 0; } }
@media only screen and (max-width: 640px) { .footer .footer__text { display: inline-block; vertical-align: top; width: 50%; float: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 30px; } }
.footer .footer__col { width: 143px; margin-right: 23px; padding-top: 5px; }
@media only screen and (max-width: 984px) { .footer .footer__col { width: 22%; margin-left: 4%; margin-right: 0; } }
@media only screen and (max-width: 640px) { .footer .footer__col { display: inline-block; vertical-align: top; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; float: none; margin-bottom: 20px; } }
.footer .footer__col:nth-child(2n+1) { padding-right: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer .footer__designby { width: 228px; float: right; text-align: right; padding-top: 7px; }
.footer .footer__logo { background: url('../img/icons-se375004312.png') 0 -649px no-repeat; width: 88px; height: 21px; display: inline-block; font: 0/0 a; text-shadow: none; color: transparent; margin-bottom: 17px; }
.footer .footer__copy { font-size: 11px; font-style: italic; color: white; line-height: 1.1; margin-bottom: 23px; }
.footer .footer__links { font-size: 12px; color: #b1b2b3; position: relative; left: -24px; }
@media only screen and (max-width: 984px) { .footer .footer__links { left: 0; margin-top: -10px; } }
.footer .footer__links a { color: #b1b2b3; text-decoration: none; padding: 0 24px; display: inline-block; position: relative; }
@media only screen and (max-width: 984px) { .footer .footer__links a { display: block; padding: 6px 0; } }
@media only screen and (max-width: 984px) { .footer .footer__links a:first-child { border-bottom: 1px solid #4a4d51; } }
.footer .footer__links a:first-child:before { content: " "; position: absolute; right: 0; top: -2px; height: 18px; border-right: 1px solid #4f5255; }
@media only screen and (max-width: 984px) { .footer .footer__links a:first-child:before { display: none; } }
.footer .footer__col { font-size: 12px; }
.footer .footer__col h3 { color: white; margin-bottom: 13px; }
.footer .footer__col h3:after { content: " "; display: inline-block; margin-left: 16px; background: url('../img/icons-se375004312.png') 0 -1121px no-repeat; width: 14px; height: 11px; vertical-align: middle; position: relative; top: 2px; }
.footer .footer__col ul { list-style: none; }
.footer .footer__col ul a { color: #bfc0c1; text-decoration: none; border-bottom: 1px solid #484c4f; display: block; padding: 6px 0; }
.footer .footer__col ul li:last-child a { border-bottom-style: none; }
.footer .footer__designby { color: #868889; font-size: 11px; color: #868889; text-decoration: none; }
@media only screen and (max-width: 984px) { .footer .footer__designby { display: none; } }
.footer .footer__designby a { font: 0/0 a; text-shadow: none; color: transparent; display: inline-block; background: url('../img/icons-se375004312.png') 0 -618px no-repeat; width: 72px; height: 21px; vertical-align: middle; }

.input { border: 1px solid #e2b252; border-radius: 5px; background-color: white; box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; display: block; padding: 0 20px; height: 45px; padding-top: 1px; font-size: 15px; line-height: 1; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #b8b8b8; opacity: 1; }
.input::-webkit-input-placeholder { color: #b8b8b8; }

.btn { display: inline-block; border-radius: 5px; background-color: white; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0081cb), color-stop(100%, #004b97)); background-image: -webkit-linear-gradient(#0081cb, #004b97); background-image: -moz-linear-gradient(#0081cb, #004b97); background-image: -o-linear-gradient(#0081cb, #004b97); background-image: linear-gradient(#0081cb, #004b97); color: white; font-size: 19px; font-weight: bold; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.28); height: 45px; line-height: 45px; padding: 0 20px; text-decoration: none; }

.form { border: 1px solid #ecbe62; border-radius: 0 0 10px 10px; background-clip: padding-box; box-shadow: 0 10px 38px rgba(0, 0, 0, 0.11); background-image: linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffdb69), color-stop(100%, #ffbd3b)); background-image: -webkit-linear-gradient(#ffdb69, #ffbd3b); background-image: -moz-linear-gradient(#ffdb69, #ffbd3b); background-image: -o-linear-gradient(#ffdb69, #ffbd3b); background-image: linear-gradient(#ffdb69, #ffbd3b); padding: 12px 30px 48px 30px; font-size: 0; position: relative; z-index: 10; }
@media only screen and (max-width: 984px) { .form { padding-bottom: 20px; padding-right: 20px; padding-left: 20px; } }
.form .form__title { margin-bottom: 25px; }
@media only screen and (max-width: 984px) { .form .form__title { margin-bottom: 16px; } }
.form .form__title h2 { font-size: 50px; font-weight: 100; font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; color: #3e3b35; text-align: center; line-height: 1; }
@media only screen and (max-width: 984px) { .form .form__title h2 { font-size: 25px; } }
@media only screen and (max-width: 640px) { .form .form__title h2 { font-size: 20px; } }
.form .form__title h2 span { font-size: 26px; display: block; line-height: 1; }
@media only screen and (max-width: 984px) { .form .form__title h2 span { font-size: 15px; color: #957d3c; padding-top: 6px; } }
@media only screen and (max-width: 640px) { .form .form__title h2 span { display: none; } }
.form .form__hotel { position: relative; }
.form .form__hotel .form__hotelsearch { position: absolute; right: 10px; top: 50%; margin-top: -11px; background: url('../img/icons-se375004312.png') 0 -969px no-repeat; width: 23px; height: 22px; }
.form .form__hotel .form__hotelicon { position: absolute; left: 13px; top: 14px; background: url('../img/icons-se375004312.png') 0 -1233px no-repeat; width: 10px; height: 15px; }
.form .form__hotel .input { padding-left: 35px; }
.form .form__nodates { position: absolute; bottom: -25px; left: 0; font-style: italic; font-size: 12px; color: #704a23; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.24); cursor: pointer; }
@media only screen and (max-width: 984px) { .form .form__nodates { bottom: -31px; } }
@media only screen and (max-width: 640px) { .form .form__nodates { bottom: auto; top: 116px; } }
.form .form__nodates label { display: block; cursor: pointer; }
.form .form__nodates span { vertical-align: middle; position: relative; top: 1px; }
.form .form__nodates input { display: none; }
.form .form__nodates i { display: inline-block; vertical-align: middle; margin-right: 9px; background: url('../img/icons-se375004312.png') 0 -939px no-repeat; width: 20px; height: 20px; }
.form .form__nodates input:checked + i { background: url('../img/icons-se375004312.png') 0 -864px no-repeat; width: 20px; height: 20px; }
.form .form__date { position: relative; display: inline-block; width: 20%; margin-right: 2%; float: left; }
@media only screen and (max-width: 984px) { .form .form__date { margin-bottom: 46px; width: 48%; margin-right: 0; margin-left: 0; } }
@media only screen and (max-width: 640px) { .form .form__date { width: auto; margin-bottom: 16px; float: none; display: block; } }
@media only screen and (max-width: 984px) { .form .form__date.form__date_out { float: right; } }
@media only screen and (max-width: 640px) { .form .form__date.form__date_out { float: none; margin-bottom: 47px; } }
.form .form__date .form__dateicon { position: absolute; right: 10px; top: 10px; background: url('../img/icons-se375004312.png') 0 -1458px no-repeat; width: 19px; height: 23px; }
.form .form__date .input { padding-left: 16px; }
.form .form__people { position: relative; width: 36%; display: inline-block; margin-right: 2%; }
@media only screen and (max-width: 984px) { .form .form__people { width: 60%; margin-right: 4%; } }
@media only screen and (max-width: 640px) { .form .form__people { width: auto; margin-right: 0; margin-bottom: 16px; display: block; } }
.form .form__people select { opacity: 0; position: absolute; left: 0; top: 0; -webkit-appearance: none; height: 100%; width: 100%; z-index: 1; }
.form .form__people .form__peopleicon { left: 16px; top: 11px; background: url('../img/icons-se375004312.png') 0 -1046px no-repeat; width: 19px; height: 20px; position: absolute; }
.form .form__people .input { padding-left: 45px; padding-right: 40px; }
.form .form__people .form__peoplearrow { position: absolute; right: 10px; top: 17px; background: url('../img/icons-se375004312.png') 0 -1438px no-repeat; width: 15px; height: 10px; }
.form .form__example { display: block; font-size: 11px; font-style: italic; color: white; margin-top: 6px; margin-bottom: 9px; }
.form .form__example a { font-size: 12px; color: #704a23; border-bottom: 1px dotted #704a23; font-style: normal; text-decoration: none; }
.form .form__example .form__exampleicon { background: url('../img/icons-se375004312.png') 0 -1507px no-repeat; width: 21px; height: 7px; vertical-align: middle; display: inline-block; margin-right: 14px; position: relative; top: -1px; }
.form .form__submit { display: inline-block; width: 18%; }
@media only screen and (max-width: 984px) { .form .form__submit { width: 36%; } }
@media only screen and (max-width: 640px) { .form .form__submit { width: auto; display: block; } }
.form .form__submit .btn { display: block; padding: 0; text-align: center; }
.form.form_narrow { padding: 20px 20px 20px 20px; margin-bottom: 22px; *zoom: 1; }
.form.form_narrow:after { content: " "; display: table; clear: both; }
.form.form_narrow .form__title { margin-bottom: 18px; }
.form.form_narrow .form__title h2 { font-size: 26px; line-height: 0.9; text-align: left; }
.form.form_narrow .form__date { width: auto; float: none; margin-bottom: 16px; }
@media only screen and (max-width: 984px) { .form.form_narrow .form__date { width: 48%; float: left; } }
@media only screen and (max-width: 640px) { .form.form_narrow .form__date { width: auto; float: none; } }
.form.form_narrow .form__date .input { padding-left: 15px; }
.form.form_narrow .form__nodates { bottom: auto; top: 116px; z-index: 20; }
@media only screen and (max-width: 984px) { .form.form_narrow .form__nodates { top: 53px; } }
@media only screen and (max-width: 640px) { .form.form_narrow .form__nodates { top: 116px; } }
.form.form_narrow .form__date_out { margin-bottom: 38px; }
@media only screen and (max-width: 984px) { .form.form_narrow .form__date_out { float: right; } }
@media only screen and (max-width: 640px) { .form.form_narrow .form__date_out { float: none; } }
.form.form_narrow .form__submit { width: auto; float: none; display: block; }
@media only screen and (max-width: 984px) { .form.form_narrow .form__submit { float: right; width: 26%; } }
@media only screen and (max-width: 640px) { .form.form_narrow .form__submit { width: auto; float: none; } }
.form.form_narrow .form__people { width: auto; display: block; float: none; margin-bottom: 16px; }
@media only screen and (max-width: 984px) { .form.form_narrow .form__people { width: 70%; float: left; margin-bottom: 0; } }
@media only screen and (max-width: 640px) { .form.form_narrow .form__people { width: auto; float: none; margin-bottom: 16px; } }
.form.form_demi { padding: 30px; *zoom: 1; }
.form.form_demi:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 984px) { .form.form_demi { margin-bottom: 20px; } }
.form.form_demi .form__hotel { margin-bottom: 16px; }
.form.form_demi .form__date { float: left; width: 48%; margin-bottom: 38px; }
@media only screen and (max-width: 640px) { .form.form_demi .form__date { float: none; width: auto; margin-bottom: 16px; } }
.form.form_demi .form__date.form__date_out { float: right; margin: 0; }
@media only screen and (max-width: 640px) { .form.form_demi .form__date.form__date_out { float: none; margin-bottom: 38px; } }
.form.form_demi .form__nodates { top: 53px; }
@media only screen and (max-width: 640px) { .form.form_demi .form__nodates { top: 116px; } }
.form.form_demi .form__people { float: left; width: 70%; }
@media only screen and (max-width: 640px) { .form.form_demi .form__people { float: none; width: auto; } }
.form.form_demi .form__submit { float: right; width: 26%; }
@media only screen and (max-width: 640px) { .form.form_demi .form__submit { float: none; width: auto; } }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.slick-list { position: relative; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; }
.slick-slide.pop__item { float: none; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; font: 0/0 a; text-shadow: none; color: transparent; width: 35px; height: 35px; border-radius: 50%; background: red; top: 50%; top: 72px; margin-top: -10px; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0; }

.slick-prev { left: 0; background: url('../img/icons-se375004312.png') 0 -1394px no-repeat; width: 11px; height: 19px; }

.slick-next { right: 0; background: url('../img/icons-se375004312.png') 0 -1339px no-repeat; width: 11px; height: 19px; }

.slick-dots { text-align: center; }
.slick-dots li { position: relative; display: inline-block; padding: 0 4px; }
.slick-dots li.slick-active button { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.slick-dots button { display: block; width: 14px; height: 14px; background: #e7e7e7; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.26); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { opacity: 1; }

.about { margin-top: 34px; margin-bottom: 25px; font-size: 0; *zoom: 1; }
.about:after { content: " "; display: table; clear: both; }
.about .about__item { float: left; width: 175px; margin-right: 24px; padding-left: 53px; position: relative; font-size: 12px; font-style: italic; color: #8b8b8b; }
@media only screen and (max-width: 984px) { .about .about__item { display: inline-block; vertical-align: top; float: none; width: 50%; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 22px; } }
@media only screen and (max-width: 640px) { .about .about__item { width: auto; display: block; } }
.about .about__item strong { display: block; font-size: 15px; color: black; font-weight: normal; font-style: normal; margin-bottom: 7px; }
@media only screen and (max-width: 984px) { .about .about__item strong { margin-bottom: 5px; } }
.about .about__icon { position: absolute; left: 0; background: url('../img/icons-se375004312.png') 0 -413px no-repeat; width: 42px; height: 43px; top: 0; }
.about .about__video { float: right; width: 151px; padding-left: 77px; position: relative; font-size: 12px; font-style: italic; color: #8b8b8b; text-decoration: none; }
@media only screen and (max-width: 984px) { .about .about__video { width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: none; display: inline-block; vertical-align: top; } }
@media only screen and (max-width: 640px) { .about .about__video { display: block; width: auto; } }
.about .about__video .about__videotitle { font-style: normal; font-size: 20px; font-weight: normal; color: black; line-height: 0.9; margin-bottom: 7px; }
.about .about__video .about__videoicon { position: absolute; left: 0; top: 0; background: url('../img/icons-se375004312.png') 0 -280px no-repeat; width: 62px; height: 63px; }

.pop { margin-bottom: 25px; }
.pop .pop__head { background: url(../img/titlebg.png) repeat-x 0 50%; text-align: center; margin-bottom: 25px; }
.pop .pop__head span { background: white; padding: 0 20px; display: inline-block; font-size: 30px; font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; }
@media only screen and (max-width: 984px) { .pop .pop__head span { font-size: 25px; } }
@media only screen and (max-width: 640px) { .pop .pop__head span { font-size: 20px; line-height: 0.9; } }
.pop .pop__head span br { display: none; }
@media only screen and (max-width: 640px) { .pop .pop__head span br { display: block; } }
.pop .pop__text { *zoom: 1; font-size: 15px; line-height: 24px; color: #4c4c4c; margin-bottom: 28px; }
.pop .pop__text:after { content: " "; display: table; clear: both; }
.pop .pop__text .pop__left, .pop .pop__text .pop__right { width: 480px; float: left; }
@media only screen and (max-width: 984px) { .pop .pop__text .pop__left, .pop .pop__text .pop__right { width: 45%; } }
@media only screen and (max-width: 640px) { .pop .pop__text .pop__left, .pop .pop__text .pop__right { float: none; width: auto; } }
@media only screen and (max-width: 640px) { .pop .pop__text .pop__left p, .pop .pop__text .pop__right p { margin-bottom: 1.2em; } }
.pop .pop__text .pop__right { float: right; }
.pop .pop__more { background: url(../img/wave.png) repeat-x 0 50%; text-align: center; }
.pop .pop__more .pop__morelink { display: inline-block; background: url('../img/icons-se375004312.png') 0 -527px no-repeat; width: 41px; height: 41px; position: relative; top: 2px; }
.pop.pop_bottom { margin-top: 30px; }

.go__wrap { margin-right: -24px; *zoom: 1; }
.go__wrap:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 984px) { .go__wrap { margin-right: -2%; } }
@media only screen and (max-width: 640px) { .go__wrap { margin-right: -3%; } }

.go { float: left; margin-right: 24px; width: 144px; margin-bottom: 32px; }
@media only screen and (max-width: 984px) { .go { width: 23%; margin-right: 2%; } }
@media only screen and (max-width: 640px) { .go { width: 47%; margin-right: 3%; } }
.go .go__title { font-size: 15px; color: #0c5ea7; text-decoration: none; font-weight: normal; margin-bottom: 11px; }
.go .go__title a { color: #0c5ea7; text-decoration: none; }
.go .go__pic { border-radius: 4px; margin-bottom: 7px; }
.go .go__pic img { display: block; border-radius: 4px; width: 100%; }
.go .go__hotels { float: left; font-size: 11px; padding-top: 7px; line-height: 1; }
.go .go__hotels strong { font-weight: normal; color: #0c5ea7; text-decoration: none; }
.go .go__price { float: right; font-size: 11px; font-style: italic; color: #a0a0a0; line-height: 1; }
.go .go__price strong { font-weight: normal; font-size: 18px; color: #2e2f2f; font-style: normal; }

.rec { *zoom: 1; overflow: hidden; background: url(../img/map1.jpg) no-repeat 50% 50%; }
.rec:after { content: " "; display: table; clear: both; }
.rec .rec__title { color: black; font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; font-size: 30px; margin-bottom: 50px; text-align: center; }

.feedbacks { overflow: hidden; }

.feedback { width: 33%; float: left; text-align: center; font-size: 13px; margin-bottom: 60px; }
.feedback .feedback__photo { display: inline-block; width: 130px; height: 130px; border-radius: 130px; margin-bottom: 12px; }
.feedback .feedback__name { color: black; font-size: 18px; font-weight: normal; }
.feedback .feedback__site { font-size: 13px; color: #03519c; text-decoration: none; }
.feedback .feedback__text { margin-top: 13px; font-size: 15px; color: #737373; line-height: 24px; padding: 0 20px; }

.h1 { font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; font-weight: 200; font-size: 40px; line-height: 0.9; margin-bottom: 60px; }
@media only screen and (max-width: 984px) { .h1 { font-size: 25px; margin-bottom: 14px; } }

.h2, .textcontent h2 { font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; font-size: 26px; font-weight: normal; line-height: 0.9; color: black; font-weight: 200; margin-bottom: 17px; }
@media only screen and (max-width: 984px) { .h2 br, .textcontent h2 br { display: none; } }

.description { font-size: 15px; line-height: 24px; color: #737373; margin-bottom: 30px; }
.description p { margin-bottom: 1em; }

.more { border-top: 1px solid #dddddc; margin: 45px 0; text-align: center; }
.more .more__button { display: inline-block; border: 1px solid #ecbe62; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: white; -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11); -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffbd3b), color-stop(100%, #ffdb69)); background-image: -webkit-linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: -moz-linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: -o-linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); color: #71491e; font-size: 15px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.24); text-decoration: none; padding: 0 20px; height: 35px; line-height: 35px; position: relative; top: -18px; }
.more.more_small { text-align: left; position: relative; }
.more.more_small:before { position: absolute; top: 0; right: -1px; margin-top: -5px; background: url('../img/icons-se375004312.png') 0 -1214px no-repeat; width: 9px; height: 9px; content: " "; }
.more.more_small span { display: inline-block; padding-right: 20px; background: white; height: 10px; position: relative; top: -1px; }
.more.more_small .more__button { color: #71491e; font-size: 12px; height: 23px; line-height: 23px; top: -11px; padding: 0 10px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.24); }
.l-col2 .more { margin-bottom: 0; }

.lists { margin-bottom: 20px; }

.list { border-radius: 5px; background: #f8fafc; padding: 18px 18px 12px 18px; margin-bottom: 10px; }
.list .list__title { font-size: 18px; font-weight: normal; line-height: 0.9; margin-bottom: 12px; }
@media only screen and (max-width: 984px) { .list .list__title br { display: none; } }
.list ul { list-style: none; }
.list li { margin-bottom: 7px; color: #414141; }
@media only screen and (max-width: 984px) { .list li br { display: none; } }
.list li a { color: #095097; text-decoration: none; border-bottom: 1px dotted #095097; font-size: 14px; }
.list li span { font-size: 12px; margin-left: 8px; font-style: italic; }

.textcontent p { margin-bottom: 1em; font-size: 15px; line-height: 24px; color: #737373; }

.bc { font-size: 12px; color: #3e3b35; margin-bottom: 35px; }
.bc > * { vertical-align: middle; display: inline-block; }
.bc a { color: #0c5ea7; text-decoration: none; }
.bc i { background: url('../img/icons-se375004312.png') 0 -1524px no-repeat; width: 10px; height: 5px; display: inline-block; margin: 0 11px; }

.hotel { display: inline-block; width: 233px; border: 1px solid #e5e5e5; border-radius: 5px; vertical-align: top; text-decoration: none; margin-bottom: 10px; }
@media only screen and (max-width: 640px) { .hotel { width: auto; display: block; margin-bottom: 15px; } }
.hotel .hotel__content { padding: 9px; }
.hotel .hotel__pic { border-radius: 5px; display: block; margin-bottom: 10px; }
.hotel .hotel__pic img { display: block; width: 100%; border-radius: 5px; }
.hotel .hotel__stars { float: right; }
.hotel .hotel__title { color: #585858; font-size: 15px; font-weight: normal; overflow: hidden; }
.hotel .hotel__price { border-top: 1px solid #e5e5e5; overflow: hidden; padding: 9px; background: #f8f5eb; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.hotel .hotel__pricelabel { float: left; width: 40%; color: #bdbbb3; font-size: 12px; line-height: 1; }
.hotel .hotel__pricevalue { font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; font-size: 15px; font-weight: 300; color: black; float: right; line-height: 1; }
.hotel .hotel__pricevalue strong { font-size: 25px; font-weight: 200; }
.hotel.hotel_big { width: 357px; }
@media only screen and (max-width: 640px) { .hotel.hotel_big { width: auto; } }
.hotel.hotel_big .hotel__text { font-size: 15px; line-height: 24px; color: #737373; }
.hotel.hotel_big .hotel__pricelabel { width: auto; }
.hotel.hotel_big .hotel__book { float: right; border: 1px solid #ecbe62; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11); -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffbd3b), color-stop(100%, #ffdb69)); background-image: -webkit-linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: -moz-linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: -o-linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); background-image: linear-gradient(bottom, #ffbd3b 0%, #ffdb69 100%); color: #71491e; font-size: 15px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.24); height: 33px; line-height: 33px; padding: 0 14px; text-decoration: none; margin-left: 16px; }
.hotel.hotel_big .hotel__pricevalue, .hotel.hotel_big .hotel__pricelabel { padding-top: 5px; }

.stars { font-size: 0; }
.stars i { display: inline-block; background: url('../img/icons-se375004312.png') 0 -797px no-repeat; width: 16px; height: 18px; vertical-align: top; }
.stars .stars__0 { background: url('../img/icons-se375004312.png') 0 -1142px no-repeat; width: 14px; height: 14px; }

.bh { margin-bottom: 40px; }

.comments { margin-bottom: 40px; }
.comments .comments__title { margin-bottom: 20px; font-size: 30px; font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; color: black; }

.comment { margin-bottom: 23px; }
.comment .comment__meta a { color: #095097; text-decoration: none; }
.comment .comment__meta span { font-size: 12px; color: #8b8b8b; font-style: italic; }
.comment blockquote { padding: 20px; border: 1px solid #e7ddc3; border-radius: 5px; font-size: 13px; line-height: 20px; color: #737373; font-style: italic; margin-bottom: 15px; position: relative; }
.comment blockquote:before { position: absolute; content: " "; bottom: -16px; left: 20px; background: url('../img/icons-se375004312.png') 0 -1368px no-repeat; width: 16px; height: 16px; }

@media only screen and (max-width: 984px) { .map { margin-bottom: 20px; } }
.map h3 { font-size: 18px; margin-bottom: 15px; font-weight: normal; }

.sh .sh__title { font-size: 18px; font-weight: normal; margin-bottom: 20px; }

.region .bc { margin-bottom: 11px; max-width: 420px; }
.region .region__in { position: relative; }
.region .region__sites { padding-top: 22px; padding-bottom: 22px; }
.region .region__sites img { width: 100%; display: block; }
.region .region__title { font-size: 30px; line-height: 1; margin-bottom: 20px; width: 400px; font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; }
.region .region__flag { width: 1px; margin-left: -1px; display: inline-block; }
.region .region__flag img { position: relative; left: 16px; }
.region .region__formwrap { width: 480px; position: relative; z-index: 10; }
@media only screen and (max-width: 984px) { .region .region__formwrap { width: auto; } }
.region .region__promo { position: absolute; right: 0; top: 21px; width: 530px; z-index: 5; height: 251px; background-position: 50% 50%; background-size: cover; border-top-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; background-repeat: no-repeat; }
@media only screen and (max-width: 984px) { .region .region__promo { position: relative; top: 0; left: 0; margin-bottom: 70px; width: auto; } }
.region .region__list { position: absolute; top: 240px; left: 50px; list-style: none; width: 504px; font-size: 12px; color: #a3a3a3; }
@media only screen and (max-width: 984px) { .region .region__list { left: 10px; width: 95%; } }
.region .region__list li { float: left; width: 168px; padding-top: 40px; position: relative; }
@media only screen and (max-width: 984px) { .region .region__list li { width: 32%; } }
.region .region__list li:before { content: " "; position: absolute; top: 0; left: 0; background: url('../img/icons-se375004312.png') 0 -578px no-repeat; width: 29px; height: 30px; }
.region .region__info { position: absolute; top: 86px; left: 26px; background: #0f6bb2; color: #b9cce2; padding: 20px 20px 20px 24px; line-height: 0.9; border-bottom-right-radius: 10px; }
@media only screen and (max-width: 984px) { .region .region__info { left: 0; top: 76px; } }
.region .region__info strong { display: block; font-weight: normal; font-size: 50px; color: white; font-weight: 200; }
.region .region__info span { white-space: nowrap; color: #b9cce2; font-weight: bold; font-size: 15px; }

.abouthotels { margin-bottom: 50px; }
.abouthotels h2 { font-size: 30px; font-family: "Helvetica Neue", arial, sans-serif; font-weight: 300; font-weight: 200; margin-bottom: 14px; }
@media only screen and (max-width: 984px) { .abouthotels h2 { font-size: 25px; color: black; } }
.abouthotels .abouthotels__content { color: #737373; font-size: 15px; line-height: 24px; -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px; column-gap: 30px; }
@media only screen and (max-width: 984px) { .abouthotels .abouthotels__content { -webkit-column-count: 1; -moz-column-count: 1; -ms-column-count: 1; -o-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0; -ms-column-gap: 0; -o-column-gap: 0; column-gap: 0; } }
.abouthotels .abouthotels__content p { margin-bottom: 1em; }

.sw { margin-bottom: 30px; border-bottom: 1px solid #d7d5cb; *zoom: 1; }
.sw:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 984px) { .sw { border-bottom-style: none; margin-bottom: 20px; } }
.sw ul { list-style: none; }
.sw ul li { float: left; position: relative; z-index: 20; margin-right: 10px; }
.sw ul li + li { z-index: 19; }
.sw ul li + li + li { z-index: 18; }
.sw ul li + li + li + li { z-index: 17; }
.sw ul li + li + li + li + li { z-index: 16; }
.sw ul li + li + li + li + li + li { z-index: 15; }
.sw a { text-decoration: none; color: #7d7c7c; font-size: 14px; background: #f8f5eb; padding: 0 12px 0 23px; height: 35px; line-height: 35px; float: left; position: relative; z-index: 2; top: 1px; background: url('../img/icons-se375004312.png') 0 -1258px no-repeat; }
.sw a br { display: none; }
@media only screen and (max-width: 984px) { .sw a br { display: block; } }
.sw a:after { position: absolute; right: -15px; top: 0; background: url('../img/icons-se375004312.png') 0 -1001px no-repeat; width: 15px; height: 35px; content: " "; }
.sw .is-active { z-index: 50; }
.sw .is-active a { color: white; background-position: 0 -1076px; }
.sw .is-active a:after { background-position: 0 -894px; }
.sw .is-active a:before { position: absolute; background: url('../img/icons-se375004312.png') 0 -1491px no-repeat; width: 11px; height: 6px; content: " "; left: 22px; bottom: -6px; }
@media only screen and (max-width: 984px) { .sw li { margin-right: 0; }
  .sw a { background: none; margin-right: 5px; border: 1px solid #dfddd5; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #f7f5eb; font-size: 13px; color: #7d7c7c; text-align: center; height: auto; line-height: 1; padding: 3px 6px; background-position: 0 0; margin-bottom: 5px; }
  .sw a:after { display: none; }
  .sw .is-active a { background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #004b97), color-stop(100%, #0081cb)); background-image: -webkit-linear-gradient(bottom, #004b97 0%, #0081cb 100%); background-image: -moz-linear-gradient(bottom, #004b97 0%, #0081cb 100%); background-image: -o-linear-gradient(bottom, #004b97 0%, #0081cb 100%); background-image: linear-gradient(bottom, #004b97 0%, #0081cb 100%); background-position: 0 0; border-style: none; padding: 4px 7px; }
  .sw .is-active a:before { left: 50%; margin-left: -5px; } }

.rh { *zoom: 1; padding-bottom: 30px; margin-bottom: 30px; position: relative; }
.rh:after { content: " "; display: table; clear: both; }
.rh:before { background: url(../img/wave.png) repeat-x 0 100%; height: 5px; position: absolute; left: 0; bottom: 0; width: 100%; content: " "; opacity: 0.3; }
.rh.is-last { margin-bottom: 0; padding-bottom: 10px; }
.rh.is-last:before { display: none; }
.rh .rh__pic { float: left; margin-right: 24px; width: 228px; }
@media only screen and (max-width: 640px) { .rh .rh__pic { float: none; width: auto; margin-bottom: 16px; } }
.rh .rh__pic img { width: 100%; display: block; border-radius: 5px; }
.rh .rh__content { overflow: hidden; }
@media only screen and (max-width: 984px) { .rh .rh__content { overflow: visible; } }
.rh .rh__title { color: #0a539a; font-weight: normal; margin-right: 13px; margin-bottom: 7px; }
.rh .rh__title h3 { font-weight: normal; color: #0a539a; font-size: 20px; display: inline-block; }
.rh .rh__title h3 a { text-decoration: none; color: #0a539a; }
.rh .rh__title .rh__hotels { display: inline-block; border: 1px solid #ffbf3f; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 3px 4px; font-size: 13px; font-style: italic; color: #737d83; text-decoration: none; margin-left: 15px; }
.rh .rh__title .rh__hotels span { border-bottom: 1px dotted #095097; font-size: 14px; font-style: normal; color: #095097; }
.rh .rh__text { font-size: 15px; line-height: 24px; color: #737373; }
.rh .rh__numbers { list-style: none; display: inline-block; width: 30%; margin-right: 20px; font-size: 13px; font-style: italic; color: #737d83; vertical-align: top; }
@media only screen and (max-width: 640px) { .rh .rh__numbers { width: auto; display: block; margin: 0; } }
.rh .rh__numbers li { border-bottom: 1px dotted #b2b2b2; padding: 7px 0; }
.rh .rh__numbers li:last-child { border-bottom: none; }
.rh .rh__numbers li a { text-decoration: none; border-bottom: 1px dotted #095097; color: #095097; margin-right: 6px; font-style: normal; }
.rh .rh__links { list-style: none; display: inline-block; width: 30%; margin-right: 20px; font-size: 13px; font-style: italic; color: #737d83; vertical-align: top; }
@media only screen and (max-width: 640px) { .rh .rh__links { width: auto; display: block; margin: 0; } }
.rh .rh__links li { border-bottom: 1px dotted #b2b2b2; padding: 7px 0; padding-left: 26px; position: relative; }
.rh .rh__links li a { color: #737d83; text-decoration: none; }
.rh .rh__links li:last-child { border-bottom: none; }
.rh .rh__links li i { position: absolute; left: 0; top: 8px; }
.rh .rh__links .icon-comment { background: url('../img/icons-se375004312.png') 0 -1318px no-repeat; width: 11px; height: 11px; top: 11px; }
.rh .rh__links .icon-star { background: url('../img/icons-se375004312.png') 0 -1166px no-repeat; width: 13px; height: 13px; }
.rh .rh__links .icon-location { background: url('../img/icons-se375004312.png') 0 -1189px no-repeat; width: 10px; height: 15px; }

.sub { padding-top: 10px; clear: both; }
.sub li { display: inline-block; }
.sub li a { display: inline-block; background: #ebf2f8; border-radius: 5px; font-size: 12px; font-style: italic; color: #414141; text-decoration: none; padding: 3px 10px; margin-right: 8px; margin-top: 10px; }
.sub li a span { font-size: 14px; border-bottom: 1px dotted #095097; color: #095097; font-style: normal; margin-right: 6px; }
