

// end default ===========
.select_list.ui-autocomplete
	margin: 20px 0 0 -23px

.select_list.ui-autocomplete > ul
	max-height: 600px !important

.select_list.ui_company
	margin: 20px 0 0 0

.ui-datepicker
	display: none
	background-color: #FFF
	border-radius: 5px
	padding: 0 0 4px
	box-shadow: 0 5px 27px RGBA(0, 0, 0, 0.22)
	margin-top: 17px
	margin-left: -26px
	width: 244px
	z-index: 999 !important

.ui-datepicker:after
	content: ''
	display: block
	position: absolute
	bottom: 0
	width: 100%
	height: 5px
	overflow: hidden
	border-radius: 0 0 5px 5px
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#2192d3), to(#004e94))
	background: -webkit-linear-gradient(#2192d3 0%, #004e94 100%)
	background: -moz-linear-gradient(#2192d3 0%, #004e94 100%)
	background: -o-linear-gradient(#2192d3 0%, #004e94 100%)
	background: linear-gradient(#2192d3 0%, #004e94 100%)

.ui-datepicker .ui-datepicker-header, .ui-datepicker-table-container-Title
	position: relative
	border-radius: 5px 5px 0 0
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#007ac5), to(#00488d))
	background: -webkit-linear-gradient(#007ac5 0%, #00488d 100%)
	background: -moz-linear-gradient(#007ac5 0%, #00488d 100%)
	background: -o-linear-gradient(#007ac5 0%, #00488d 100%)
	background: linear-gradient(#007ac5 0%, #00488d 100%)

.ui-datepicker-monthsName
	font-size: 10px
	padding: 2px 0
	text-align: center
	cursor: pointer

.ui-datepicker-selected_monthsName
	color: #FFF
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#0082cc), to(#00509e))
	background: -webkit-linear-gradient(#0082cc 0%, #00509e 100%)
	background: -moz-linear-gradient(#0082cc 0%, #00509e 100%)
	background: -o-linear-gradient(#0082cc 0%, #00509e 100%)
	background: linear-gradient(#0082cc 0%, #00509e 100%)

.ui-datepicker-prev
	left: 2px
	position: absolute
	padding: 14px 15px

.ui-datepicker-next
	right: 2px
	position: absolute
	padding: 14px 15px

.ui-datepicker-prev .ui-icon
	background-position: -350px -175px
	width: 8px
	height: 12px

.ui-datepicker-next .ui-icon
	background-position: -360px -175px
	width: 8px
	height: 12px

.ui-datepicker-title, .ui-datepicker-table-Title
	font-size: 14px
	line-height: 16px
	font-weight: bold
	text-shadow: -1px -1px 1px RGBA(0, 0, 0, 0.28)
	text-align: center
	text-transform: uppercase
	color: #FFF
	padding: 14px 0

.ui-datepicker table
	width: 100%
	font-size: 15px
	border-collapse: collapse
	margin: 0
	border: 1px solid #e5e5e5

.ui-datepicker th
	padding: 4px 0 5px
	text-align: center
	font-weight: normal
	font-size: 10px
	color: #000
	background-color: #FFF
	border-color: transparent

.ui-datepicker td
	border: 1px solid #e5e5e5
	line-height: 29px
.ui-datepicker td span, .ui-datepicker td a
	display: block
	padding: 8px 6px
	text-align: center
	color: #7f7f7f
	text-decoration: none !important
	line-height: 15px
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

.ui-datepicker-trigger
	position: absolute
	opacity: 0 !important
	margin-top: 8px
	margin-left: 10px
	z-index: -1

.ui-datepicker .ui-datepicker-current-day a, .ui-datepicker-current-day span
	color: #FFF
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#0082cc), to(#00509e))
	background: -webkit-linear-gradient(#0082cc 0%, #00509e 100%)
	background: -moz-linear-gradient(#0082cc 0%, #00509e 100%)
	background: -o-linear-gradient(#0082cc 0%, #00509e 100%)
	background: linear-gradient(#0082cc 0%, #00509e 100%)

.ui-datepicker-calendar .choosed span, .ui-datepicker-calendar .choosed a
	color: #333
	background: #ffc446
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#ffdc69), to(#ffbd3b))
	background: -webkit-linear-gradient(#ffdc69 0%, #ffbd3b 100%)
	background: -moz-linear-gradient(#ffdc69 0%, #ffbd3b 100%)
	background: -o-linear-gradient(#ffdc69 0%, #ffbd3b 100%)
	background: linear-gradient(#ffdc69 0%, #ffbd3b 100%)

.ui-datepicker td .ui-state-hover
	outline: 1px solid #ffbe00
	box-shadow: inset 0 0 0 2px #ffbe00
	color: #000

.ui-datepicker .ui-datepicker-current-day .ui-state-hover
	outline: none
	box-shadow: none
	color: #fff

.ui-datepicker-unselectable
	cursor: default
	background-color: #fef6dc

.ui-datepicker-multi-2

.ui-datepicker-multi-2 .ui-datepicker-group
	float: left
	width: 200px

.ui-datepicker-group + .ui-datepicker-group
	margin-left: 10px

.ui-datepicker-group td span, .ui-datepicker-group td a
	padding: 5px 3px

.ui-datepicker-group-first
	padding: 0 0 0 5px
	+box
	.ui-widget-header
		margin: 0 0 0 -5px 
.ui-datepicker-group-first
	padding: 0 5px 0 0
	+box
	.ui-widget-header
		margin: 0 -5px 0 0