.region
	padding-bottom: 23px 
	margin-bottom: 23px 
	.bc
		margin-bottom: 11px 
	.region__in
		@extend %in
		position: relative
		border-bottom: 1px solid #E5E5E5 
	.region__sites
		padding-top: 22px 
		img
			width: 100%
			display: block 
	.region__title
		font-size: 30px 
		line-height: 1 
		margin-bottom: 20px 
		+lite
		img
			margin-left: 16px 
	.region__formwrap
		width: 480px 
		position: relative
		z-index: 10 
		+r1
			width: auto
	.region__promo
		position: absolute
		right: 0
		top: 21px  
		width: 530px 
		z-index: 5 
		height: 251px 
		background-position: 50% 50%
		background-size: cover
		border-top-left-radius: 10px 
		border-bottom-right-radius: 10px 
		border-bottom-left-radius: 10px 
		background-repeat: no-repeat
		+r1
			position: relative
			top: 0
			left: 0  
			margin-bottom: 70px 
			width: auto
	.region__list
		position: absolute
		top: 240px  
		left: 50px 
		list-style: none
		width: 168px*3 
		font-size: 12px 
		color: #A3A3A3 
		+r1
			left: 10px 
			width: 95% 
		li
			float: left
			width: 168px 
			padding-top: 40px 
			position: relative
			+r1
				width: 32% 
			&:before
				content: ' '
				position: absolute
				top: 0
				left: 0
				+s(smallcheck)  
	.region__info
		position: absolute
		top: 86px 
		left: 26px 
		background: #0F6BB2
		color: #B9CCE2
		padding: 20px 20px 20px 24px
		line-height: .9
		border-bottom-right-radius: 10px
		+r1
			left: 0
			top: 76px  
		strong
			display: block
			font-weight: normal
			font-size: 50px 
			color: #fff 
			font-weight: 200 
		span
			white-space: nowrap
			color: #B9CCE2
			font-weight: bold
			font-size: 15px 